@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap');

:root {
  --primary-blue: #003459;
  --secondary-blue: #007ea7;
  --tertiary-blue: #00a8e8;
  --primary-dark: #00171f;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-size: 2.9rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 1.6rem;
}

input[type='range'] {
  width: 100%;
}

input[type='number'] {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-dark);
  background: transparent;
  text-align: right;
  font-family: 'Fira Sans', sans-serif;
}

input[type='number']:focus-within {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-dark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: var(--tertiary-blue);
  height: 5px;
}

input[type='range']::-moz-range-track {
  background: var(--tertiary-blue);
  height: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--secondary-blue);
  margin-top: -5px;
  border-radius: 50%;
}

canvas {
  width: 200px;
}

/* ----Utilities---- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  /* overflow-x: hidden; */
}

.logo {
  height: 50px;
  position: absolute;
  left: 20px;
}
/* ------------Header------------ */
/* ----Navbar---- */
#navbar {
  height: 80px;
  background-color: var(--primary-dark);
  color: #fff;
  position: relative;
}

#navbar .navbar-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------Main------------ */
#main {
  height: calc(100vh - 80px);
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.main-container > div {
  width: 80%;
}

/* Inputs */
.main-container .inputs .input {
  padding: 2rem 0;
}

.main-container .inputs .input > div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  position: relative;
}

.main-container .inputs .input .div-1:first-child::before {
  content: '\20b9';
  position: absolute;
  left: 75%;
}

.main-container .inputs .input .div-1 {
  position: relative;
}

/* Outputs */
.main-container .outputs {
  display: flex;
  justify-content: space-between;
}

.main-container .outputs .output {
  padding: 1rem 0;
}

.main-container .outputs .output input {
  outline: none;
  border: none;
  cursor: initial;
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-blue);
  background: transparent;
  font-family: 'Fira Sans', sans-serif;
}

.main-container .outputs .output .monthly-emi {
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondary-blue);
}

.main-container .outputs .output p {
  position: relative;
}

.main-container .outputs .output p::before {
  content: '\20B9\20';
  position: absolute;
  top: 250%;
  left: -0.8rem;
}

/* ----Footer---- */
.footer {
  height: 10rem;
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #1e1e1e;
}
.footer__social {
  display: flex;
  gap: 1.5rem;
}
.footer__link {
  color: #1e1e1e;
}
.footer__icon {
  cursor: pointer;
}
.footer__icon--heart {
  color: #f83a60;
  margin: 0 0.5rem;
}

/* ----Media Queries---- */
@media screen and (max-width: 991px) {
  canvas {
    width: 140px !important;
  }

  .main-container .outputs .output .monthly-emi {
    font-size: 2.5rem;
  }

  .main-container .outputs .output p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  #main {
    min-height: calc(100vh - 80px);
  }

  h1 {
    font-size: 2rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container .outputs .output .monthly-emi {
    font-size: 2rem;
  }

  .main-container .outputs .output input {
    font-size: 1.3rem;
  }

  .main-container .outputs > div {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .main-container .inputs .input {
    padding: 1rem 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .container {
    padding: 0;
  }

  .logo {
    height: 30px;
  }
}
